    :root {
        font-family: sans-serif;
        background-color: #2c2f36;
        color: #ffb24e;
        margin-top: 7rem;
    }

    /* * {
        border: 1px red solid;
    } */

    .header {
        top: 0;
        left: 0;
        right: 0;
        gap: 2rem;
        position: fixed;
        background-color: #212429;
        box-shadow: 0px 7px 50px rgba(33, 30, 30, 0.532);
        z-index: 1000;
        width: 100vw;
        height: auto;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        justify-content: center;
    }

    .header h1 {
        grid-column: 2;
    }

    .new-book-button {
        grid-column: 3;
        z-index: 1001;
        right: 0;
        margin-right: 1.5rem;
        max-width: 10rem;
        justify-self: right;
        background-color: #77be77;
        border: none;
        border-radius: 0.1rem;
        padding: 0.5rem 1rem;
        font-weight: 700;
        transition: transform 0.2s ease;
    }

    .new-book-button:hover {
        background-color: #7dcb7d;
        cursor: pointer;
        transform:scale(1.05);
    }

    body {
        height: 100vh;
        width: 100vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .library {
        display: grid;
        color: #2c2f36;
        gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    }

    .container {
        width: 90vw;
        align-items: center;
        justify-content: center;
        padding-bottom: 1.8rem;
    }

    .book {
        display: grid;
        color: rgb(224, 214, 199);
        text-align: left;
        border-radius: 6px;
        transition: transform 0.2s ease;
    }

    .book:hover {
        transform: scale(1.05);
    }

    .book-cover {
        background-color: #3e4046;
        aspect-ratio: 4/5;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        border-radius: 0px 10px 10px 0px;
    }

    .book-cover p {
        align-self: center;
        color: rgb(160, 162, 170)
    }

    .book-title {
        color: #ffb24e;
        font-size: 1.5em;
    }

    .read {
        color: #77be77;
        font-style: italic;
    }
    .unread {
        color: #838383;
        font-style: italic;
    }

    .book p, .book h2 {
        margin: 0;
    }

